.off-white {
  color: #FFFCEC;
}
.off-white-bg {
  background-color: #FFFCEC
}

.cool-tan {
  color: #ADAA9A;
}
.cool-tan-bg {
  background-color: #ADAA9A;
}

.cool-brown {
  color: #5C5A51;
}
.cool-brown-bg {
  background-color: #5C5A51;
}

.dark-brown {
  color: #2F2E2E;
}
.dark-brown-bg {
  background-color: #2F2E2E;
}

.pale-gold {
  color: #EDE8C9;
}
.pale-gold-bg {
  background-color: #EDE8C9;
}

.gold {
  color: #DAD299;
}
.gold-bg {
  background-color: #DAD299;
}

.dark-gold {
  color: #A39D73;
}
.dark-gold-bg {
  background-color: #A39D73;
}

.golden-brown {
  color: #6D694D;
}
.golden-brown-bg {
  background-color: #6D694D;
}

.dark-chocolate {
  color: #373526;
}

.dark-chocolate-bg {
  background-color: #373526;
}