* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('images/Emerald-Realms.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
  background-color: #EDE8C9;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav a {
  font-weight: bold;
  color: black;
  margin-left: 30px;
}

#nav .facebook-link {
  margin-left: auto;
  margin-right: 30px;
}

#page-header {
  padding: 200px 0;
}

#amazon-nav {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px;
  background-color: #2F2E2E;
}

#cover-link {
  position: relative;
}

#cover-link a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cover-link img{
  width: 400px;
}

#buy-now p {
  color: #FFFCEC;
}

#buy-now h3 {
  color: #EDE8C9;
}

#buy-now a, #buy-now a:visited {
  color: #FFFCEC;
  text-decoration: none;
  border: 2px solid #FFFCEC;
  padding: 3px;
  transition: .5s;
  margin: 10px;
  display: block;
}

#buy-now a:hover, #buy-now a:visited:hover {
  background: #467;
  border: 2px solid #467;
}

#ad-quote {
  width: 33%;
  margin: 20px 100px 20px auto;
  padding: 50px;
  background-color: rgb(237, 232, 201, .6);
  color: black;
  font-style: italic;
}

.review {
  text-align: left;
}

.attribution {
  text-align: right;
}

#about {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: #2F2E2E;
  color: #EDE8C9;
}


#about-img {
  width: 50%;
}

#about-txt {
  width: 50%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

#reviews {
  background-color: beige;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px;
}

.section-header {
  margin: 20px;
}

.review-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-grid > div {
  width: 30%;
}

#review-cover-link img {
  width: 100%;
}

.fade-button {
  margin: 10px;
}

.fade-button a, .fade-button a:visited {
  font-style: italic;
  background-color: #333;
  color: beige;
  text-decoration: none;
  transition: .5s;
  padding: 5px;
}

.fade-button a:hover, .fade-button a:visited:hover {
  background-color: #467;
}

#review-buy-now {
  margin: 10px;
}

#review-buy-now a, #review-buy-now a:visited {
  color: #333;
  text-decoration: none;
  font-style: italic;
  border: 2px solid #333;
  padding: 3px;
  transition: .5s;
}
/* TODO: refactor all fading buttons */

#review-buy-now a:hover, #review-buy-now a:visited:hover {
  background-color: #885;
  border: 2px solid #885;
  color: beige;
}

#events {
  position: relative;
}

#side-scroller {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

.scroll-pane {
  width: 100%;
  margin: 50px 0;
  padding: 100px;
}

#classes {
  background-color: #442;
}

#classes p, #classes h4 {
  text-align: left;
}

#signings {
  background-color: #885;
}

.signings-column h4, .signings-column p {
  text-align: left;
}

#signings-columns {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  width: 100%;
  padding: 0 100px;
}

.signings-column {
  width: 50%;
}

#signings img {
  width: 50%;
  margin: auto;
}

#signings a, #signings a:visited {
  color: black;
}

#visits {
  background-color: #333;
}

#visits-columns {
  display: flex;
}

.visits-column-1, .visits-column-2 {
  width: 50%;
}

.visits-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 100px;
  text-align: left;
}

.visits-column-2 {
  color: white;
}

.visits-column-2 img {
  width: 100%;
}

#loop {
  background-color: #432;
}

#contact {
  background-color: beige;
  padding: 100px 200px;
}

#contact-links {
  display: flex;
  justify-content: space-between;
}

#contact p {
  text-align: left;
}

#footer {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  margin-bottom: 100px;
}

#footer-links a, #footer-links a:visited {
  /* color: rgb(0, 0, 0, 0); */
  text-decoration: none;
}

#footer-links img {
  width: 25px;
  margin-left: 10px;
}

.off-white {
  color: #FFFCEC;
}

.off-white-bg {
  background-color: #FFFCEC
}

.cool-tan {
  color: #ADAA9A;
}
.cool-tan-bg {
  background-color: #ADAA9A;
}

.cool-brown {
  color: #5C5A51;
}

.cool-brown-bg {
  background-color: #5C5A51;
}

.dark-brown {
  color: #2F2E2E;
}

.dark-brown-bg {
  background-color: #2F2E2E;
}

.pale-gold {
  color: #EDE8C9;
}

.pale-gold-bg {
  background-color: #EDE8C9;
}

.gold {
  color: #DAD299;
}

.gold-bg {
  background-color: #DAD299;
}

.dark-gold {
  color: #A39D73;
}

.dark-gold-bg {
  background-color: #A39D73;
}

.golden-brown {
  color: #6D694D;
}

.golden-brown-bg {
  background-color: #6D694D;
}

.dark-chocolate {
  color: #373526;
}

.dark-chocolate-bg {
  background-color: #373526;
}