* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*this is a comment*/

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('images/Emerald-Realms.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#app {
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#nav a, #nav a:visited {
  font-weight: bold;
  color: black;
  margin-left: 30px;
  text-decoration: none;
}

#nav .facebook-link {
  margin-left: auto;
  margin-right: 30px;
}

#page-header {
  padding: 200px 0;
}

#page-header h2 {
  font-size: 3em;
}

#page-header h1 {
  font-size: 4em;
}

#amazon-nav {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px;
}

#cover-link {
  position: relative;
}

#cover-link a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#cover-link img{
  width: 375px;
}

#buy-now {
  margin-left: 50px;
}

#buy-now p {
  color: #FFFCEC;
  font-size: 1.5em;
  margin: 20px;
}

#buy-now h3 {
  color: #EDE8C9;
  font-size: 2em;
  font-weight: normal;
}

#buy-now a, #buy-now a:visited {
  color: #FFFCEC;
  text-decoration: none;
  border: 2px solid #FFFCEC;
  padding: 3px 10px;
  transition: .5s;
  margin: 10px;
}

#buy-now a:hover, #buy-now a:visited:hover {
  background: #467;
  border: 2px solid #467;
}

#ad-quote {
  width: 40%;
  margin: 20px 100px 20px auto;
  padding: 50px;
  background-color: rgb(237, 232, 201, .6);
  color: black;
  font-style: italic;
  font-weight: bold;
  font-size: 1.3em;
}


.review {
  text-align: left;
}

.attribution {
  text-align: right;
}

#about {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}


#about-img {
  width: 50%;
  height: 60vw;
  overflow: hidden;
}

#about-img img {
  width: 200%;
  position: relative;
  right: 30%;
}


#about-txt {
  width: 50%;
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#about-txt h2 {
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: bolder;
}

#about-txt h3 {
  font-size: 2em;
  font-weight: bolder;
}

#about-txt p {
  margin: 50px 0;
  font-size: 1.2em;
}

#reviews {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 100px;
}

.section-header {
  margin-bottom: 50px;
}

.section-header h2 {
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bolder;
}

.section-header h3 {
  font-size: 2em;
}

.review-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

.review-grid > div {
  width: 30%;
}

.review-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.review {
  font-size: 2em;
}

.shrunk {
  font-size: .80em;
}

#reviews h4 {
  font-size: 1.5em;
  font-weight: normal;
}

.review .attribution {
  margin-top: 1em;
}

.review-link {
  margin-bottom: 20px;
}

#review-cover-link img {
  width: 75%;
}

#get-the-book {
  margin-top: 50px;
}

#get-the-book h3 {
  font-size: 2em;
  font-weight: normal;
}

.fade-button {
  margin: 20px;
}

.fade-button a, .fade-button a:visited {
  font-style: italic;
  background-color: #2F2E2E;
  color: #FFFCEC;
  text-decoration: none;
  transition: .5s;
  padding: 5px;
}

.fade-button a:hover, .fade-button a:visited:hover {
  background-color: #467;
}

#review-buy-now {
  margin: 20px;
}

#review-buy-now a, #review-buy-now a:visited {
  color: #2F2E2E;
  text-decoration: none;
  font-style: italic;
  border: 2px solid #2F2E2E;
  padding: 5px;
  transition: .5s;
}
/* TODO: refactor all fading buttons */

#review-buy-now a:hover, #review-buy-now a:visited:hover {
  background-color: #6D694D;
  border: 2px solid #6D694D;
  color: #FFFCEC;
}

#events {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

#events p {
  font-size: 1.4em;
}

.event {
  width: 100%;
  margin: 50px 0;
  padding: 75px 200px;
}

#events h2 {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 50px;
}

#classes .events-content {
  padding: 0 75px;
}

#classes h4 {
  font-weight: normal;
  font-size: 1.4em;
}

#classes h4 {
  margin-top: 40px;
}

#classes p, #classes h4 {
  text-align: left;
}

#classes-email {
  margin-top: 40px;
}

#classes-email a, #classes-email a:visited {
  color: #DAD299;
}

.classes-fade-button a:hover, .classes-fade-button a:visited:hover {
  background-color: black;
  color: #FFFCEC;
}

.signings-column h4, .signings-column p {
  text-align: left;
}

#signings-columns {
  display: flex;
  justify-content: space-between;
  align-items: top;
  width: 100%;
}

#signings h2 {
  text-align: left;
}

.signings-column {
  width: 50%;
}

#signings img {
  width: 50%;
  margin: auto;
}

.signings-email {
  margin-top: 50px;
}

#signings a, #signings a:visited {
  color: #EDE8C9;
}

#visits-columns {
  display: flex;
}

.visits-column-1, .visits-column-2 {
  width: 50%;
  padding: 0 45px;
}

.visits-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.visits-column-1 a, .visits-column-1 a:visited {
  color: #DAD299;
}

.visits-column-2 img {
  width: 100%;
}

#contact {
  padding: 100px 200px;
}

#contact-links {
  display: flex;
  justify-content: space-between;
}

#contact-links > div {
  width: 50%;
}

#contact p {
  font-size: 2em;
}

#contact a {
  display: block;
  padding: 10px;
}

#info {
  margin: 50px 0;
}

#info p {
  text-align: left;
}

#subscribe p {
  text-align: left;
}

#subscribe a {
  margin: 0 50px;
}

#visit-pages a {
  margin: 0 100px;
}

.visit-link {
  margin: 30px 50px;
}

#footer {
  font-style: italic;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  margin-bottom: 100px;
}

#footer-links a, #footer-links a:visited {
  text-decoration: none;
}

#footer-links img {
  width: 25px;
  margin-left: 10px;
}

.off-white {
  color: #FFFCEC;
}
.off-white-bg {
  background-color: #FFFCEC
}

.cool-tan {
  color: #ADAA9A;
}
.cool-tan-bg {
  background-color: #ADAA9A;
}

.cool-brown {
  color: #5C5A51;
}
.cool-brown-bg {
  background-color: #5C5A51;
}

.dark-brown {
  color: #2F2E2E;
}
.dark-brown-bg {
  background-color: #2F2E2E;
}

.pale-gold {
  color: #EDE8C9;
}
.pale-gold-bg {
  background-color: #EDE8C9;
}

.gold {
  color: #DAD299;
}
.gold-bg {
  background-color: #DAD299;
}

.dark-gold {
  color: #A39D73;
}
.dark-gold-bg {
  background-color: #A39D73;
}

.golden-brown {
  color: #6D694D;
}
.golden-brown-bg {
  background-color: #6D694D;
}

.dark-chocolate {
  color: #373526;
}
.dark-chocolate-bg {
  background-color: #373526;
}