@media only screen and (min-width: 651px) and (max-width: 960px) {

  #nav {
    position: fixed;
  }

  #banner {
    padding: 10px;
  }

  #banner img {
    width: 30vw;
  }

  #banner p {
    font-size: 1.2em;
    margin-left: 10px;
  }

  #page-header {
    padding: 150px;
  }

  .amazon-nav {
    position: relative;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 80px;
  }

  .cover-link {
    position: absolute;
  }

  .cover-link a {
    float: left;
  }

  .cover-link img{
    width: 300px;
  }

  #buy-now {
    margin-left: 50vw;
  }

  #buy-now p {
    font-size: 1.5em;
    margin: 20px;
  }

  #buy-now h3 {
    font-size: 2em;
  }

  #ad-quote {
    margin: 10%;
    padding: 20px;
    font-size: 1.2em;
  }

  #about-anchor {
    top: 100px;
  }

  #about {
    margin-top: 150px;
  }

  #about-img {
    overflow: hidden;
    width: 30vw;
    float: left;
    margin: 25px;
  }

  #about-img img {
    width: 150%;
    position: relative;
    right: 20%;
  }

  #about-txt {
    padding: 20px;
    font-size: 1.2em;
  }
  .section-header {
    margin-bottom: 50px;
  }

  .section-header h2 {
    font-size: 2em;
  }

  .section-header h3 {
    font-size: 2em;
  }
  
  #get-the-book {
    margin-top: 50px;
  }

  #events {
    margin-top: 50px;
  }

  #events h3 {
    margin-top: 30px;
    margin-bottom: 15px;
}


  .event {
    padding: 50px;
    font-size: 1.2em;
  }

  #signings img {
    width: 200px;
  }

  .visits-column-1 {
    max-width: 350px;
  }

  .visits-column-2 {
    max-width: 40%;
  }

  #classes h4 {
    margin-top: 20px;
  }

  .signings-email {
    margin-top: 30px;
  }

  #contact {
    padding: 50px;
    margin-top: 50px;
  }

  #contact-links > div {
    width: 50%;
  }
  
  #contact p {
    font-size: 1.4em;
  }

  #info {
    margin-bottom: 50px;
  }

  #subscribe a {
    width: 250px;
    margin: 0 auto;
  }
  
  #visit-pages a {
    width: 100px;
    margin: 0 auto;
  }
  
  .visit-link {
    margin: 30px 20px;
  }

  #footer {
    padding: 10px 50px;
    margin-bottom: 75px;
  }
}