@media only screen and (max-width: 650px) {
  #nav {
    width: 100%;
  }

  .anchor {
    top: 50px;
  }

  #banner {
    padding: 10px;
    flex-direction: column;
  }

  #banner img {
    max-width: 90%;
  }

  #banner p {
    text-align: center;
    font-size: 1.1em;
  }

  #page-header {
    padding: 100px 0;
  }

  .amazon-nav {
    width: 75%;
    margin: 0 auto;
  }

  .cover-link img {
    width: 100%;
  }

  #buy-now {
    padding: 20px 0;
  }

  #ad-quote {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
  }

  #about {
    margin-top: 50px;
  }

  #about-img {
    overflow: hidden;
    width: 50vw;
    height: 11em;
    float: left;
    margin-right: 20px;
  }

  #about-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 150px;
    margin-bottom: 10px;
  }

  #about-img img {
    width: 150%;
    position: relative;
    right: 20%;
  }

  #about-txt {
    padding: 20px;
    font-size: 1.2em;
  }

  #get-the-book {
    margin-top: 10px;
  }

  #events {
    margin-top: 50px;
  }

  .event {
    padding: 30px;
    font-size: 1.1em;
  }

  #classes h4 {
    margin-top: 20px;
  }

  #signings-columns {
    flex-direction: column;
  }

  .signings-column {
    margin-top: 15px;
  }

  #events h3 {
    margin-top: 20px;
  }

  .signings-email {
    margin-top: 30px;
  }

  #contact {
    margin-top: 50px;
    padding: 20px;
    font-size: 1.3em;
  }

  #contact-links {
    flex-direction: column;
  }
  
  #footer {
    padding: 5px;
    margin-bottom: 50px;
  }

  .anchor {
    bottom: 0;
  }
}