@media only screen and (max-width: 420px) {
  #nav {
    width: 100%;
  }

  #page-header {
    padding: 100px 0;
  }

  #amazon-nav {
    width: 75%;
    margin: 0 auto;
  }

  #cover-link img {
    width: 100%;
  }

  #buy-now {
    padding: 20px 0;
  }

  #ad-quote {
    width: 90%;
    padding: 10px;
    margin: 10px auto;
  }

  #about {
    margin-top: 50px;
  }

  #about-img {
    overflow: hidden;
    width: 50vw;
    height: 11em;
    float: left;
    margin-right: 20px;
  }

  #about-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    height: 150px;
    margin-bottom: 10px;
  }

  #about-img img {
    width: 150%;
    position: relative;
    right: 20%;
  }

  #about-txt {
    padding: 20px;
    font-size: 1.2em;
  }

  #reviews {
    margin-top: 50px;
    padding: 20px;
  }

  #reviews .review {
    font-size: 1.2em;
    border-bottom: 1px solid #DAD299;
  }

  .review-column {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #DAD299;
    border-radius: 5px;
  }

  .review-link {
    padding-top: 10px;
  }

  .review-grid {
    flex-direction: column;
  }

  .amazon-review {
    order: 1;
  }

  .goodreads-review {
    order: 2;
  }

  #reviews-amazon-link {
    order: 3;
  }

  #review-cover-link img {
    width: 75%;
  }

  #get-the-book {
    margin-top: 10px;
  }

  #events {
    margin-top: 50px;
  }

  .event {
    padding: 30px;
  }

  #classes h4 {
    margin-top: 20px;
  }

  #signings .caption {
    text-align: center;
    margin: 0 auto;
  }

  .signings-email {
    margin-top: 30px;
  }

  #contact {
    margin-top: 50px;
    padding: 20px;
    font-size: 1.3em;
  }

  #contact-links {
    flex-direction: column;
  }
  
  #footer {
    padding: 5px;
  }
}