* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('/images/Emerald-Realms.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#app {
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
}

#nav {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* position: fixed; */
  z-index: 1;
}

#nav a, #nav a:visited {
  text-align: left;
  font-size: 1.5em;
  font-weight: bold;
  color: #555;
  margin-left: 30px;
  text-decoration: none;
}

#nav a:hover, #nav a:visited:hover {
  color: #000;
}

#nav .facebook-link {
  margin-left: auto;
  margin-right: 30px;
}

.anchor-base {
  position: relative;
}

.anchor {
  position: absolute;
  bottom: 50px;
}

#buy-now h3 {
  color: #EDE8C9;
  font-weight: normal;
}

#buy-now a, #buy-now a:visited {
  color: #FFFCEC;
  text-decoration: none;
  border: 2px solid #FFFCEC;
  padding: 3px 10px;
  transition: .5s;
  margin: 10px;
}

#buy-now a:hover, #buy-now a:visited:hover {
  background: #467;
  border: 2px solid #467;
}

#ad-quote {
  background-color: rgb(237, 232, 201, .6);
  color: black;
  font-style: italic;
  font-weight: bold;
}

.review {
  text-align: left;
}

.attribution {
  text-align: right;
}


#about-txt {
  text-align: left;
}

#about-txt h2 {
  font-family: sans-serif;
  font-weight: bolder;
}

#about-txt h3 {
  font-weight: bolder;
}

.section-header h2 {
  font-family: sans-serif;
  font-weight: bolder;
}

.review-grid {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
}

.review-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#get-the-book h3 {
  font-size: 2em;
  font-weight: normal;
}

.fade-button {
  margin: 20px;
}

.fade-button a, .fade-button a:visited {
  font-style: italic;
  background-color: #2F2E2E;
  color: #FFFCEC;
  text-decoration: none;
  transition: .5s;
  padding: 5px;
}

.fade-button a:hover, .fade-button a:visited:hover {
  background-color: #467;
}

#review-buy-now {
  margin: 20px;
}

#review-buy-now a, #review-buy-now a:visited {
  color: #2F2E2E;
  text-decoration: none;
  font-style: italic;
  border: 2px solid #2F2E2E;
  padding: 5px;
  transition: .5s;
}
/* TODO: refactor all fading buttons */

#review-buy-now a:hover, #review-buy-now a:visited:hover {
  background-color: #6D694D;
  border: 2px solid #6D694D;
  color: #FFFCEC;
}

#events {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
}

#events h2 {
  font-weight: normal;
}

#classes h4 {
  font-weight: normal;
}

#classes p, #classes h4 {
  text-align: left;
}

#classes-email a, #classes-email a:visited {
  color: #DAD299;
}

.classes-fade-button a:hover, .classes-fade-button a:visited:hover {
  background-color: black;
  color: #FFFCEC;
}

#signings .caption {
  text-align: center;
  margin: 0 auto;
}

#signings-columns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#signings img {
  width: 50%;
  margin: auto;
}

#signings a, #signings a:visited {
  color: #EDE8C9;
}

#visits-columns {
  display: flex;
  justify-content: space-evenly;
}

.visits-column-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.visits-column-1 p {
  margin-top: 50px;
}

.visits-column-1 a, .visits-column-1 a:visited {
  color: #DAD299;
}

.visits-column-2 img {
  width: 100%;
}

#info a, #info a:visited {
  color: black;
}

#contact-links {
  display: flex;
  justify-content: space-between;
}

#contact-links a {
  display: block;
  padding: 10px;
}

#info p {
  text-align: left;
}

#subscribe p {
  text-align: left;
}

#footer {
  font-style: italic;
  display: flex;
  justify-content: space-between;
}

#footer-links a, #footer-links a:visited {
  text-decoration: none;
}

#footer-links img {
  width: 25px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

.mailto {
  text-decoration: underline;
}